<div class="row">
    <!-- Add Search Later -->
    <!-- <div class="col-md-12 text-center" style="margin-bottom: 25px;">
        <div class="form-group form-inline">
            <input id="searchBar" class="form-control" type="text" placeholder="Search…" />
            <button type="button" class="btn btn-sm btn-primary" style="font-size: .6rem;">Clear</button>
        </div>
    </div> -->
    <div class="col-md-12 text-center" style="margin-bottom: 25px;">
        <div class="form-group form-inline">
            <label for="segmentFilter">Segment:</label>
            <select class="form-control"
                    id="segmentFilter"
                    ng-model="vm.selectedSegment"
                    ng-options="item as item.label for item in vm.segments track by item.id">
            </select>
            <label for="priceFilter">Price:</label>
            <select class="form-control"
                    id="priceFilter"
                    ng-model="vm.selectedPrice"
                    ng-options="item as item.label for item in vm.prices track by item.id">
            </select>
            <label for="yearFilter">Year:</label>
            <select class="form-control"
                    id="yearFilter"
                    ng-model="vm.selectedYear"
                    ng-options="item as item.label for item in vm.years track by item.id">
            </select>
            <label for="monthFilter">Month:</label>
            <select class="form-control"
                    id="monthFilter"
                    ng-model="vm.selectedMonth"
                    ng-options="item as item.label for item in vm.months track by item.id">
            </select>
            <button type="button" class="btn btn-md btn-primary">Clear All</button>
        </div>
    </div>

</div>
<dtable options="vm.options" rows="vm.data" class="material dt"></dtable>
